<%const radius=250; const centerX=0; const centerY=0; %>

    <div class="twoPBoard">
        <div class="twoPBoard-startAreas"></div>
        <div class="twoPBoard-battleField">
            <% for(let i=0; 44>i; i++){ %>
                <% const angle=(2*Math.PI/44) * i; const x=centerX + radius * Math.cos(angle+3.925); const y=centerY +
                    radius * Math.sin(angle+3.925); %> 
                    <div style="left:<%=x%>px;top:<%=y%>px;position:absolute; transform: rotate(<%=(360/44)*(i+38)%>deg);"
                        class="twoPBoard-battleField-<%=i%>">
                        <%if(i% 11==0){%>
                            <div class="twoPBoard-battleField-heart-container">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <% }else{%>
                                <div> <%=i%></div>
                            <% } %>
                    </div>
                    <% } %>
        </div>
        <div class="twoPBoard-goalCircles"></div>
        <div class="twoPBoard-cardBox"></div>
    </div>