<div class="parterns-doubleCard">
  <div class="partners-doubleCard-card1">
    <div class="partners-doubleCard-card1-info">
      <div
        class="partners-doubleCard-card1-corner1 partners-doubleCard-card1-corner"
      >
        <i class="fa-solid fa-heart"></i>
      </div>
      <div
        class="partners-doubleCard-card1-corner2 partners-doubleCard-card1-corner"
      >
        <i class="fa-solid fa-heart"></i>
      </div>
      <div
        class="partners-doubleCard-card1-corner3 partners-doubleCard-card1-corner"
      >
        <i class="fa-solid fa-heart"></i>
      </div>
      <div
        class="partners-doubleCard-card1-corner4 partners-doubleCard-card1-corner"
      >
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="partners-doubleCard-card1-middle">
        <i class="fa-solid fa-heart"></i>
      </div>
    </div>
  </div>
  <div class="partners-doubleCard-card2">
    <div class="partners-doubleCard-card2-info">
      <div
        class="partners-doubleCard-card2-corner1 partners-doubleCard-card2-corner"
      >
        <%=value%>
      </div>
      <div
        class="partners-doubleCard-card2-corner2 partners-doubleCard-card2-corner"
      >
        <%=value%>
      </div>
      <div
        class="partners-doubleCard-card2-corner3 partners-doubleCard-card2-corner"
      >
        <%=value%>
      </div>
      <div
        class="partners-doubleCard-card2-corner4 partners-doubleCard-card2-corner"
      >
        <%=value%>
      </div>
      <div class="partners-doubleCard-card2-middle"><%=value%></div>
    </div>
  </div>
</div>
